<div *ngIf="board" class="board-title">
  <span [style.display]="editingTilte ? 'none' : ''" (click)="editTitle()">{{ board?.title }}</span>

   <input  
    [style.display]="editingTilte ? '' : 'none' "
    (keyup)="blurOnEnter($event)"
    (blur)="updateBoard()"
    [(ngModel)]="board.title" /> 
</div>
<section *ngIf="board" id="main" >
  <div *ngFor="let task of board.task " class="sortable-task">
     <app-task [task]="task"
        (onAddsubTask)="addsubTask($event)"
        [subTasks]="task.subtask">
    </app-task>
    
  </div>
  <div class="add-task"
       (click)="enableAddtask()" >
  	<span [style.display]="addingtask ? 'none' : ''" >Add a list...</span>
   
    <input  
	    [style.display]="addingtask ? '' : 'none' "
	    (keyup)="addtaskOnEnter($event)"
	    (blur)="addtaskOnBlur()"
	    [(ngModel)]="addtaskText" />
  </div>
</section>
